body{
    text-align: center;
}
.menu{
   text-decoration: none;
    width: 100%;
    height: 30px;
    background-color: cornsilk;
    display: table;
    z-index: 10;
    top: 10;
    right: 0;
    left: 0;
    position: fixed;
}
.links{
    text-decoration: none;
    font-size: 25;
    font-weight: bold;
    display: inline;
}
html{
    scroll-behavior: smooth;
}
.links:hover {
   transform: scale(0.9);
    color: aqua;
    background-color: coral;
}
#home{
     background: linear-gradient( red 0% ,aliceblue 100%);
    height: 800px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
}
#grid{
    margin-top: 700px;
    height: 800px;
    width: 100%;
    position: absolute;
    background-color: chartreuse;
    right: 0;
    left: 0;
}
.image{
    height: 300px;
    width: 300px;
}
.image:hover{
    transform: scale(0.9);
}
h1{
  font-family: fantasy;
    padding-top: 200px;
}
h2{
    font-family: fantasy;
}
hr{
    width: 400px;
    height: 30px;
}
#slide{
    margin-top: 1500px;
    background-color: aquamarine;
    height: 800px;
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;
}